input,
textarea {
	@apply font-sans text-15;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: theme('colors.black');
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	background: none;
	text-align: left;
	appearance: none;
	color: inherit;
	max-width: 100%;

	&::-webkit-input-placeholder {
		color: currentColor;
		opacity: 0.3;
	}

	&::-moz-placeholder {
		color: currentColor;
		opacity: 0.3;
	}

	&:-ms-input-placeholder {
		color: currentColor;
		opacity: 0.3;
	}

	&:-moz-placeholder {
		color: currentColor;
		opacity: 0.3;
	}

	&:placeholder {
		color: currentColor;
		opacity: 0.3;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:hover {
		transition: color 9999s ease-out 9999s,
			background-color 9999s ease-out 9999s;
	}

	&:-moz-autofill,
	&:-moz-autofill-preview {
		filter: none;
	}

	&:focus {
		outline: none;
	}

	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: 0.6;

		&.cursor--loading {
			cursor: wait;
		}
	}

	&.cursor-loading,
	&.cursor-wait,
	&.loading {
		cursor: wait !important;

		* {
			cursor: wait !important;
		}
	}
}

@layer components {
	.input-newsletter {
		@apply font-sans text-18/18 md:text-28/28;
		height: 60px;
		line-height: 60px;
		background-image: linear-gradient(
			to left,
			theme('colors.gray') 0,
			theme('colors.gray') 5px,
			transparent 6px,
			transparent 100%
		);
		background-position: 0 100%;
		background-size: 10px 1px;
		background-repeat: repeat-x;
		will-change: background-position, transform;

		&:hover {
			animation: input-newsletter-hover 1s infinite linear;
		}

		&:focus,
		&:active {
			background-image: linear-gradient(
				to left,
				theme('colors.black') 0,
				theme('colors.black') 100%
			);
		}

		@screen md {
			height: 75px;
			line-height: 75px;
		}

		&::-webkit-input-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&::-moz-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&:-moz-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&:placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}
	}

	.input-faq-search {
		@apply font-serif text-16/40 italic border border-solid px-2;
		height: 40px;
		line-height: 40px;
		border-radius: 40px;

		&::-webkit-input-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&::-moz-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&:-moz-placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}

		&:placeholder {
			color: theme('colors.gray');
			opacity: 1;
		}
	}
}
